/* App-wide styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #343A40;
  background-color: #F8F9FA;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Homepage styles */
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

/* Update these selectors to target specific elements in your components */
.component h1,
.component h2,
.component p {
  margin: 10px 0;
}

/* Component specific styles */
.component {
  background-color: #FFFFFF;
  margin: 10px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 800px;
  /* Adjust based on your design preference */
}

/* Retained your original styles for button, input, and card components */
button {
  background-color: #6C757D;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #5A6268;
}

.input {
  padding: 0.5rem;
  border: 1px solid #CED4DA;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
}

.card {
  background-color: #FFFFFF;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
}

/* CSS styles for DataSelectionPage */
.data-selection-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.dataset-library,
.data-upload,
.data-preview,
.data-filters {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #CED4DA;
  border-radius: 4px;
}

/* CSS styles for ModelConfigurationPage */
.model-configuration-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
}

/* CSS styles for ResultsVisualizationPage */
.results-visualization-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.export-btn {
  /* Style your export button */
  background-color: #4CAF50;
  /* Example */
  color: white;
}

/* CSS styles for HelpPage */
.help-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.faq-section, .tutorial-section, .contact-support, .feedback-form {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #CED4DA;
  border-radius: 4px;
  width: 90%;
  max-width: 600px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

